
@{
    ViewBag.Title = "book";
}

<h2>Книги</h2>
<div>
    <table>
        <tr>
            <td>ID</td>
            <td>Автор</td>
            <td>Название книги</td>
        </tr>
        @foreach (var book in ViewBag.Book)
        {
        <tr>
            <td>@book.Id</td>
            <td>@book.Book_avtor</td>
            <td>@book.Name_book</td>
        </tr>
        }
    </table>
</div>
