
@{
    ViewBag.Title = "fio";
}

<h2>ФИО</h2>
<div>
    <table>
        <tr>
            <td>ID</td>
            <td>ФИО</td>
        </tr>
        @foreach (var fio in ViewBag.Fio)
        {
            <tr>
                <td>@fio.Id</td>
                <td>@fio.Fio</td>
            </tr>
        }
    </table>
</div>
