<h2>Добавить перемещение</h2>
@using (Html.BeginForm("Index", "Create", FormMethod.Post, new { @class = "" }))
{

    <div class=" form-group row">
        <label for="name" class="col-sm-3 col-form-label">Экспонат</label>
        <div class="col-sm-6">
            @BIPIT_10.BootstrapHelp.bootstrapHelp.MyDropdown("exhibits", ViewBag.Exhibits, "Экспонаты")
    </div>
</div>
<div class=" form-group row">
    <label for="name" class="col-sm-3 col-form-label">Зал</label>
    <div class="col-sm-6">
        @BIPIT_10.BootstrapHelp.bootstrapHelp.MyDropdown("halls", ViewBag.Halls, "Залы")
    </div>
</div>
<div class="form-group row">
    <label for="name" class="col-sm-3 col-form-label">Начало</label>
    <div class="col-sm-6">
        <input class="form-control" type="date" name="start" id="start">
    </div>
</div>
<div class="form-group row">
    <label for="name" class="col-sm-3 col-form-label">Окончание</label>
    <div class="col-sm-6">
        <input class="form-control" type="date" name="end" id="end">
    </div>
</div>
<div class="col">
    <button class="btn btn-info" value="Create">Добавить</button>
</div>

}
